# Name: Shape Filter
# Author: Thorsten Wagner
# Version: 1.6

Plugins, "Shape Filter", de.biomedical_imaging.ij.shapefilter.Shape_Filter
Analyze>NDEF-EXT>Shape-Filter-Extension, "Ultimate Points Diameter", de.biomedical_imaging.ij.shapefilter.ndef.UltimatePointsDiameter_
Analyze>NDEF-EXT>Shape-Filter-Extension, "Register Image to ShapeFilter", de.biomedical_imaging.ij.shapefilter.ndef.RegisterImageToShapeFilter_
Analyze>NDEF-EXT>Shape-Filter-Extension, "Agglomerate Manager", de.biomedical_imaging.ij.shapefilter.ndef.AgglomerateManager_
Analyze>NDEF-EXT>Shape-Filter-Extension, "Replace Distribution in Results Table", de.biomedical_imaging.ij.shapefilter.ndef.DistributionWithR_
Analyze>NDEF-EXT>Shape-Filter-Extension, "Greyscale Characteristcs", de.biomedical_imaging.ij.shapefilter.ndef.GreyscaleCharacteristicsToResultsTable_
Analyze>NDEF-EXT>Shape-Filter-Extension, "Remove Blobs", de.biomedical_imaging.ij.shapefilter.ndef.BlobRemover_
Analyze>NDEF-EXT>Shape-Filter-Extension, "Show as overlay", de.biomedical_imaging.ij.shapefilter.ndef.ShowAsOverlay_